venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints
.claude
image.png
/backend/uploads
/docs
Daftar_Jurnal_Skripsi.doc
DEPLOYMENT_NOTES.md
note.txt
CLAUDE.md
Percobaan pengetesan.docx
lembar_observasi.html
.claude/settings.local.json
/Draft
/ss tampilan
3_BAB3_Yeremia C_Skripsi.pdf
3_BAB3_DONE_Yeremia C_Skripsi.pdf
Draft1_Yeremia Christopher W_Skripsi.pdf
draft_pembahasan_4.3.txt
/test_images
todo_bab4.txt
Skripsi_DRAFT2_Yeremia C.pdf
bab2_visualisasi.txt
1_Skripsi_Yeremia C.pdf
/SS bab 4
Warna UKDW.pdf
draft_4_3_5_analisis_algoritma.txt
draft_4_4_pembahasan.txt
draft_bab5_kesimpulan_saran.txt
2_Skripsi_Yeremia C.pdf
panduan_rancangan_antarmuka_bab3.txt
justifikasi_22_responden.txt
3_Skripsi_Yeremia C.pdf
4_Skripsi_Yeremia C.pdf
bab3_kebutuhan_perangkat_lunak.txt
FINAL_Skripsi_Yeremia C.pdf
ringkasan-sidang.html
