venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints
.claude
image.png
/backend/uploads
/docs
Daftar_Jurnal_Skripsi.doc
DEPLOYMENT_NOTES.md
note.txt
CLAUDE.md
Percobaan pengetesan.docx
lembar_observasi.html
.claude/settings.local.json
/Draft
/ss tampilan
3_BAB3_Yeremia C_Skripsi.pdf
3_BAB3_DONE_Yeremia C_Skripsi.pdf
Draft1_Yeremia Christopher W_Skripsi.pdf
